{% extends 'base.html' %}

{% block content %}

<div class="row mx-auto">

  <div class="col-3 mt-3">
    {% for category in categories %}
    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action">{{category.name}}</a>
    </div>
    {% endfor %}
  </div>

  <div class="col-9">
    <div class="row mx-auto mt-3">
      {% for product in products %}
      <div class="card mx-auto mb-5" style="width: 18rem;">
        <img src="{{product.image.url}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{product.name}}</h5>
          <p class="card-text">{{product.description}}</p>
          <a href="#" class="btn btn-primary">Add to Cart</a>
        </div>
      </div>

      {% endfor %}
    </div>

  </div>
</div>


{% endblock %}